autopep8==1.5
branca==0.4.0
click==7.1.1
Flask==1.1.1
flask-googlemaps==0.4.0
Flask-WTF==0.14.3
folium==0.10.1
gcloud==0.17.0
googleapis-common-protos==1.51.0
httplib2==0.17.0
itsdangerous==1.1.0
Jinja2==2.11.1
Js2Py==0.68
jws==0.1.3
MarkupSafe==1.1.1
numpy==1.18.1
oauth2client==3.0.0
protobuf==3.11.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.5.0
pycryptodome==3.4.3
pyjsparser==2.7.1
Pyrebase==3.0.27
python-dotenv==0.12.0
python-jwt==2.0.1
pytz==2019.3
requests==2.20.0
requests-toolbelt==0.7.0
rsa==4.0
six==1.14.0
tzlocal==2.0.0
Werkzeug==1.0.0
WTForms==2.2.1
