<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sample PWA</title>
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <title>Sample PWA{% if title%} - {{ title }}{% endif %}</title>
    {% block head_extension %}
    {% endblock head_extension %}
</head>

<body>
    <!-- Flash Messages -->
    <div class="flashwrapper">
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        {% for category, message in messages %}
        <div id=flashwrapper class="alert alert-{{ category }} alert-dismissible" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                onClick="remove('.flashwrapper')"><span aria-hidden="true">&times;</span></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <!-- Main content of page -->
    {% block content %}
    {% endblock %}

    <!-- firebase js scripts -->
    <script src="https://www.gstatic.com/firebasejs/5.11.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.11.0/firebase-database.js"></script>
    <script>
        var pyconfig = {{ pyconfig| tojson }};
        // Initialize Firebase
        firebase.initializeApp(pyconfig);
        const db = firebase.database();
    </script>
    <!-- jquery stuff -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <!-- my scripts -->
    <script src="{{ url_for('static', filename='js/mapper.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ui.js') }}"></script>
</body>

</html>